$width-img-slides : 400px;
$height-img-slides : 300px;
$width-img-thumbnails : 100px;
// $height-img-thumbnails : 120px;
$quantity-thumbnails : 5;
$padding-top-album-foto : 150px;

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.album-foto {
    // height: 600px;
    // width: 720px;
    // margin: 100px auto;
    // -webkit-box-sizing: inherit;
    // box-sizing: inherit;
    padding: 0;
    display: flex;
    justify-content: center; //???

    position: absolute;
    top: 0;
    width: 100%;
}

.slides-foto li {
  padding-top: $padding-top-album-foto;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  // line-height: 0;
  // width: 120px;
  // height: 120px;
  padding-top: $padding-top-album-foto;

  li {
    flex: auto;
    // display: block; //???
    height: $height-img-slides / $quantity-thumbnails; 
  }

  a {
    display: block;
    cursor: pointer; //???
    height: $height-img-slides / $quantity-thumbnails;
  }
  
  img {
    width: $width-img-thumbnails;
    height: $height-img-slides / $quantity-thumbnails;
    // object-fit: cover;
    object-position: top;
    // border-top: 3px solid #fff;
    // border-bottom: 3px solid #fff;
    border: 3px solid #fff;
  }
}

.slides-foto {
  overflow: hidden;
  width: $width-img-slides;
  // height: 100vmin;
  
  li {
    // width: 100%;
    // height: 100%;
    position: absolute;
    z-index: 1;
  }
  
  img {
    height: $height-img-slides;
    width: $width-img-slides;
    // object-fit: cover;
    object-position: top;
    rotate: 180deg;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
}

.slides-foto li:target {
  z-index: 3;
  animation: slide 1s 1;
}

.slides-foto li:not(:target) {
  animation: hidden 3s 1;
}

@keyframes slide {
  0% {
    // transform: translateY(-100%);
    transform: rotateY(180deg);
  }
  100% {
    // transform: translateY(0%);
    transform: rotateY(360%);
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}