.mySlider {
  height: 550px;
  width: 364px;
  margin: 50px auto;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.album-foto {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.slides-foto-rotate li {
  padding-top: 290px;
}

.thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 290px;
}

.thumbnails li {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  height: 52px;
}

.thumbnails a {
  display: block;
  cursor: pointer;
  height: 52px;
}

.thumbnails img {
  width: 52px;
  height: 52px;
  -o-object-position: top;
     object-position: top;
  border: 3px solid #fff;
}

.slides-foto-rotate {
  overflow: hidden;
  width: 260px;
}

.slides-foto-rotate li {
  position: absolute;
  z-index: 1;
}

.slides-foto-rotate img {
  height: 260px;
  width: 260px;
  -o-object-position: top;
     object-position: top;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.slides-foto-rotate li:target {
  z-index: 3;
  -webkit-animation: slide-ver 1s 1;
          animation: slide-ver 1s 1;
}

.slides-foto-rotate li:not(:target) {
  -webkit-animation: hidden 3s 1;
          animation: hidden 3s 1;
}

@-webkit-keyframes slide-ver {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360%);
            transform: rotateY(360%);
  }
}

@keyframes slide-ver {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360%);
            transform: rotateY(360%);
  }
}

@-webkit-keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}

@media (max-height: 550px) {
  .slides-foto-ver li,
  .slides-foto-hor li {
    padding-top: 300px;
  }
  .thumbnails {
    padding-top: 300px;
  }
}

@media (max-height: 350px) {
  .slides-foto-ver li,
  .slides-foto-hor li {
    margin-top: 65vh;
    padding-top: 30px;
  }
  .thumbnails {
    margin-top: 65vh;
    padding-top: 30px;
  }
}

@media (max-width: 400px) {
  .slides-foto-ver li,
  .slides-foto-hor li {
    padding-top: 30vh;
  }
  .thumbnails {
    padding-top: 30vh;
  }
}

@media (orientation: portrait) {
  .mySlider {
    height: 420px;
    width: 300px;
    margin: 150px auto;
  }
  .album-foto {
    margin-top: 150px;
  }
  .thumbnails {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 0;
  }
  .thumbnails li {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    height: 60px;
  }
  .thumbnails a {
    height: 60px;
  }
  .thumbnails img {
    width: 60px;
    height: 60px;
  }
  .thumbnailsBefore {
    position: relative;
    top: 150px;
    z-index: 4;
  }
  .thumbnailsAfter {
    padding-top: 150px;
  }
  .slides-foto-rotate {
    width: 300px;
    height: 300px;
    padding-top: 0;
  }
  .slides-foto-rotate li {
    padding-top: 150px;
  }
}

@media (orientation: landscape) {
  .album-foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=gallery.css.map */