body {
	margin: 0;
	background-color: #868383;
  // --heightMySlider: 300px;
  // --widthMySlider: 400px;
  // --heightImgThumbnails: 80px;
  // --widthImgThumbnails: 80px;
}

:root {
  --widthMySlider: 400px;
  --heightMySlider: 300px;
  --heightImgThumbnails: 60px;
  --widthImgThumbnails: 60px;
  --widthImgSlides: 400px;
  --heightImgSlides: 300px;
}

// $width-img-slides: var(--widthMySlider);
// $height-img-slides: var(--heightMySlider);
// $width-img-thumbnails : 80px;
// $height-img-thumbnails : 120px;
// $quantity-thumbnails: 5;
// $width-img-thumbnails: $height-img-slides / $quantity-thumbnails;
// $height-img-thumbnails: $height-img-slides / $quantity-thumbnails;
// $width-img-thumbnails: var(--widthImgThumbnails);
// $height-img-thumbnails: var(--heightImgThumbnails);
// $width-img-slides : 600 + $width-img-thumbnails;
// $frfr : 100vh;
// $padding-top-album-foto : ($frfr - $height-img-slides) / 2;
// $padding-top-album-foto: 10px;

// :root {
//   --quantityThumbnails: rgb(189, 23, 23);
//   --heightScreen: 300px;
//   --widthScreen: 400px;
// }

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	box-shadow: none;
}

// body {
// 	margin: 0;
// 	background-color: #868383;
// 	// z-index: 0;
//   // --quantityThumbnails: rgb(189, 23, 23);
//   --heightScreen: 300px;
//   --widthScreen: 400px;
// }

.cos {
	height: 500px;
	width: 500px;
	margin: 200px auto;
	border: 3px solid red;
}

.mySlider {
	// height: $height-img-slides + $padding-top-album-foto;
	// width: $width-img-slides + $width-img-thumbnails * 2;
	height: var(--heightMySlider);
	width: var(--widthMySlider);
	margin: 0px auto;
	// background-color: rgb(139, 134, 134);
	// z-index: 0;
}

ul {
	list-style-type: none;
	padding-inline-start: 0;
}

.album-foto {
	// margin: 100px auto;
	// -webkit-box-sizing: inherit;
	// box-sizing: inherit;
	padding: 0;
	display: flex;
	display: block;
	// justify-content: center; //???

	position: relative;
	top: 0;
	// width: 100%;
}

// .slides-foto-ver li,
// .slides-foto-rotate li {
// 	padding-top: $padding-top-album-foto;
// }

.thumbnails {
	display: flex;
	flex-direction: column;
	// line-height: 0;
	padding-top: var(--paddingTopLiSlides);
	// margin-top: var(--marginTopLiSlides);
  // --heightImgThumbnails: 80px;
  // --widthImgThumbnails: 80px;

	li {
		flex: auto;
		// display: block; //???
		// height: $height-img-thumbnails;
		// padding-top: $quantity-thumbnails;
		width: var(--widthImgThumbnails);
		height: var(--heightImgThumbnails);
	}

	a {
		display: block;
		cursor: pointer; //???
		// height: $height-img-thumbnails;
		height: var(--heightImgThumbnails);
	}

	img {
		// width: $width-img-thumbnails;
		// height: $height-img-thumbnails;
		width: var(--widthImgThumbnails);
		height: var(--heightImgThumbnails);
		// object-fit: cover;
		object-position: top;
		// border-top: 3px solid #fff;
		// border-bottom: 3px solid #fff;
		border: 3px solid #fff;
	}
}

// .slides-foto-ver,
.slides-foto-rotate {
	overflow: hidden;
	// width: $width-img-slides;
	width: var(--widthImgSlides);
	// padding-top: $padding-top-album-foto;
	// height: 100vmin;

	li {
		position: absolute;
		z-index: 1;
		// padding-top: $padding-top-album-foto;
		padding-top: var(--paddingTopLiSlides);
	}

	img {
    	width: var(--widthImgSlides);
    	height: var(--heightImgSlides);
		// height: $height-img-slides;
		// width: $width-img-slides;
		// object-fit: cover;
		object-position: top;
		// rotate: 180deg;
		border: 3px solid #fff;
		// border-left: 3px solid #fff;
		// border-top: 3px solid #fff;
		// border-bottom: 3px solid #fff;
	}
}

.slides-foto-rotate li:target {
	z-index: 3;
	animation: slide-ver 1s 1;
}
// .slides-foto-rotate li:target {
//   z-index: 3;
//   animation: slide-hor 1s 1;
// }

// .slides-foto-ver li:not(:target),
.slides-foto-rotate li:not(:target) {
	animation: hidden 3s 1;
}

// .slides-foto-ver li:target {
//   z-index: 3;
//   animation: slide-ver 1s 1;
// }
// .slides-foto-hor li:target {
//   z-index: 3;
//   animation: slide-hor 1s 1;
// }

// .slides-foto-ver li:not(:target),
// .slides-foto-hor li:not(:target) {
//   animation: hidden 3s 1;
// }

// .slides-foto-hor li:not(:target) {
//   animation: hidden 3s 1;
// }

@keyframes slide-ver {
	// 0% {
	//   transform: translateY(-110px);
	// }
	0% {
		transform: rotateY(180deg);
	}
	100% {
		// transform: translateY(0%);
		transform: rotateY(360%);
	}
}
// @keyframes slide-hor {
//   0% {
//     // transform: translateY(-100%);
//     transform: rotateX(180deg);
//   }
//   100% {
//     // transform: translateY(0%);
//     transform: rotateX(360%);
//   }
// }

@keyframes hidden {
	0% {
		z-index: 2;
	}
	100% {
		z-index: 2;
	}
}

/* ------------------RESPONZYWNOŚĆ-------------------- */

@media (orientation: portrait) {
	// $width-img-slides: 300px;
	// $height-img-slides: 300px;
	// $quantity-thumbnails: 5;
	// $width-img-thumbnails: $width-img-slides / $quantity-thumbnails;
	// $height-img-thumbnails: $height-img-slides / 5;
	// $padding-top-album-foto: 20px;

	.mySlider {
		height: var(--heightMySlider);
		width: var(--widthMySlider);
		// height: $height-img-slides + $height-img-thumbnails * 2;
		// width: $width-img-slides;
		margin: 0 auto;
	}
	.album-foto {
		// margin-top: $padding-top-album-foto;
		margin-top: var(--paddingTopLiSlides);
	}
	.thumbnails {
		flex-direction: row;
		padding-top: 0;

		li {
			flex: none;
			// height: $height-img-thumbnails;
		}
		a {
			// height: $height-img-thumbnails;
		}
		img {
			width: var(--widthImgThumbnails);
			height: Var(--heightImgThumbnails);
		}
	}
	.thumbnailsBefore {
		position: relative;
		// top: $padding-top-album-foto;
		top: var(--paddingTopLiSlides);
		z-index: 4;
	}
	.thumbnailsAfter {
		// padding-top: $padding-top-album-foto;
		padding-top: var(--paddingTopLiSlides);;
	}

	.slides-foto-rotate {
		// width: $height-img-slides;
		// height: $height-img-slides;
		width: var(--widthImgSlides);
		height: var(--heightImgSlides);
		padding-top: 0;

		li {
			// padding-top: $padding-top-album-foto;
			padding-top: var(--paddingTopLiSlides);
		}
		img {
			width: var(--widthImgSlides);
			height: var(--heightImgSlides);
		}
	}
}

@media (orientation: landscape) {
	.album-foto {
		display: flex;
		position: absolute;
		top: var(--paddingTopLiSlides);
		margin-top: var(--marginTopLiSlides);
	}
}

@media (max-width: 980px) {
}

@media (max-width: 750px) {
}

@media (max-width: 500px) {
}

@media (max-width: 400px) {
}

@media (max-height: 350px) {
}
