@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  margin: 0;
  background-color: #868383;
}

.cos {
  height: 500px;
  width: 500px;
  margin: 200px auto;
  border: 3px solid red;
}

.mySlider {
  height: 470px;
  width: 760px;
  margin: 50px auto;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.album-foto {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  position: relative;
  top: 0;
  width: 100%;
}

.slides-foto-rotate li {
  padding-top: 70px;
}

.thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 70px;
}

.thumbnails li {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  height: 80px;
  padding-top: 5;
}

.thumbnails a {
  display: block;
  cursor: pointer;
  height: 80px;
}

.thumbnails img {
  width: 80px;
  height: 80px;
  -o-object-position: top;
     object-position: top;
  border: 3px solid #fff;
}

.slides-foto-rotate {
  overflow: hidden;
  width: 600px;
}

.slides-foto-rotate li {
  position: absolute;
  z-index: 1;
  padding-top: 70px;
}

.slides-foto-rotate img {
  height: 400px;
  width: 600px;
  -o-object-position: top;
     object-position: top;
  border: 3px solid #fff;
}

.slides-foto-rotate li:target {
  z-index: 3;
  -webkit-animation: slide-ver 1s 1;
          animation: slide-ver 1s 1;
}

.slides-foto-rotate li:not(:target) {
  -webkit-animation: hidden 3s 1;
          animation: hidden 3s 1;
}

@-webkit-keyframes slide-ver {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360%);
            transform: rotateY(360%);
  }
}

@keyframes slide-ver {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360%);
            transform: rotateY(360%);
  }
}

@-webkit-keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}

/* ------------------RESPONZYWNOŚĆ-------------------- */
@media (orientation: portrait) {
  .mySlider {
    height: 420px;
    width: 300px;
    margin: 150px auto;
  }
  .album-foto {
    margin-top: 150px;
  }
  .thumbnails {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 0;
  }
  .thumbnails li {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    height: 60px;
  }
  .thumbnails a {
    height: 60px;
  }
  .thumbnails img {
    width: 60px;
    height: 60px;
  }
  .thumbnailsBefore {
    position: relative;
    top: 150px;
    z-index: 4;
  }
  .thumbnailsAfter {
    padding-top: 150px;
  }
  .slides-foto-rotate {
    width: 300px;
    height: 300px;
    padding-top: 0;
  }
  .slides-foto-rotate li {
    padding-top: 150px;
  }
}

@media (orientation: landscape) {
  .album-foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=mySlider.css.map */