// html {
//     box-sizing: border-box;
//     height: 100%;
//   }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  :root {
    --quantityThumbnails: rgb(189, 23, 23);
  }

  .okno {
    box-sizing: border-box;
    height: 50%;
    height: 500px;
    width: 500px;
  }
  
  .album-foto {
    display: flex;
    justify-content: center;
    // box-sizing: inherit;
    // box-sizing: border-box;
    // height: 80%;
    background-color: var(--quantityThumbnails);
  }
  
  .thumbnails {
    display: flex;
    flex-direction: column;
    line-height: 0;
    
    li {
      flex: auto; 
    }
  
    a {
      display: block;
    }
    
    img {
      width: 30vmin;
      height: 20vmin;
      object-fit: cover;
      object-position: top;
    }
  }
  
  .slides-foto {
    overflow: hidden;
    width: 75vmin;
    height: 100vmin;
    color: var(--quantityThumbnails);
    
    li {
      width: 75vmin;
      height: 100vmin;
      position: absolute;
      z-index: 1;
    }
    
    img {
      height: 100vmin;
      object-fit: cover;
      object-position: top;
    }
  }
  
  .slides-foto li:target {
    z-index: 3;
    -webkit-animation: slide 1s 1;
  }
  
  .slides-foto li:not(:target) {
    -webkit-animation: hidden 1s 1;
  }
  
  @keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  @keyframes hidden {
    0% {
      z-index: 2;
    }
    100% {
      z-index: 2;
    }
  }


  .demo {
    --hue: 40;
    --color: hsl(var(--hue), 90%, 50%);
    --shadow: hsl(var(--hue), 90%, 20%);

    border: 10px solid var(--color);
}
.demo .element {
    background: var(--color);
    color: var(--color);
    box-shadow: 0 0 430px 130px var(--color);
}