@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext');

* {
    box-sizing: border-box;
}

*:focus {
    box-shadow: none;
}

body, html {
    font-family: 'Roboto', sans-serif;
    color: #474550;
    line-height: 1.6;
    margin: 0;
    height: 100%;
}

a, a:hover {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #4056d4;
    letter-spacing: 2px;
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 60px 0;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.splash {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    background-image: url('../img/background/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
}

.page-intro {
    margin-top: 20vh;
    text-align: center;
}

.main-title {
    /* color: #474550; */
    font-size: 50px;
    margin: 0;
    font-weight: 700;
    letter-spacing: 3px;
    word-spacing: 20px;
}

.main-subtitle {
    margin: 12px 0 60px 0;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 0px;
}

.btn {
    padding: 18px 24px 18px 24px;
    font-size: 14px;
    background-color: #949b9b;
    color: #ffffff;
    border-radius: 30px 50% 25px;
    /* box-shadow: 2px 4px 10px 4px black; */
}

.btn:hover {
    background-color: darken(#7c7a85, 3%);
    color: #474550;
    border-radius: 60% 40px;
}

.section-title {
    position: relative;
    margin: 0 0 60px 0;
    text-align: center;
}

.stone {
    background-color: #949b9b;
    color: #ffffff;
    border: 2px solid #949b9b;
    letter-spacing: 2px;
    padding: 10px;
}

.sLeft {
    /* padding: 15px; */
    border-radius: 35px 50% 25px;
}

.sRight {
    /* padding: 15px; */
    border-radius: 25px 50% 35px;
}

.sCenter {
    /* padding: 10px; */
    /* border-radius: 30px 60% 25px 15px; */
    border-radius: 40px 85% 28px 19px;
}

.about {
    background-color: #eff5f5;
    /* margin: 30px 0 0 0; */
}

 .about p {
    margin: 0 10%;
}

 .features-wrapper {
    display: flex;
}

 .feature {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    text-align: center;
    margin: 24px 0 0 0;
}

.feature-description {
    margin: 15%;
    text-align: justify;
    line-height: 1.3;
}

.feature i {
    width: 100px;
    height: 100px;
    line-height: 110px;
    color: #ffffff;
    font-size: 60px;
    background-color: #949b9b;
    border-radius: 50% 50% 0 0;
}

.feature i:hover {
    background-color: darken(#7c7a85, 3%);
    color: #474550;
}

.statement {
    background-image: url("../img/background/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom: 20px;
}

.statement p, .statement strong {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffe6;
    letter-spacing: 2px;
}

.boxes {
    background-color: #11203E;
    padding: 80px 0;
}
  
.boxes .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 55%;
}
  
.boxes .box {
    text-align: center;
    color: #FFC312;
    margin: 0 auto;
}


/* ------------------------------------------------ */
/* ------------------------------------------------ */



video {
    /* object-fit: none; */
    height: 400px;
    /* margin: 30px; */
    margin-left: -4px;
    margin-right: -4px;
}

video:focus {
    outline-width:1px;
    outline-style:dotted;
}

/* video::before {
    content: url(../img/kadrFilmowy.jpg);
  } */

  .container img {
    height: 400px;
    /* width: 300px; */
}