@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    box-shadow: none;
}

body, html {
    font-family: 'Roboto', sans-serif;
    color: #474550;
    line-height: 1.6;
    margin: 0;
    height: 100%;
}

.bg-main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
}
.bg1 {
    background-image: url('../img/apartament/foto9.jpg');
}
.bg2 {
    background-image: url('../img/apartament/foto13.jpg');
}
.bg3 {
    background-image: url('../img/apartament/foto11.jpg');
}
.bg4 {
    background-image: url('../img/apartament/foto12.jpg');
}
.bg5 {
    background-image: url('../img/apartament/foto10.jpg');
}

.main{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
}

.features{
    background-color: #ffffff;
}

.backgroundshow {
	list-style: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 0;
	margin: 0;
    background-image: url('../img/apartament/foto9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.backgroundshow li {
	position: absolute;
	width: 101%;
	height: 101%;
	top: -0.5%;
	left: -0.5%;
	opacity: 0;
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	transition: opacity 3s;
}

li > img {
    height: 100vh;
    width: 100vw;
} 

a, a:hover {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #4056d4;
    letter-spacing: 2px;
    font-weight: 700;
}

section {
    padding: 60px 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.splash {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    padding: 0 30px;
    height: 100vh;
}

.splash > div {
    text-align: center;
    margin-top: 22vh;
}

.page-intro {
    width: 400px;
    margin-left: 20px;
    margin-right: 8vw;
    margin-top: 20vh;
    text-align: center;
    align-items: baseline;
}

.main-title {
    font-size: 50px;
    margin: 0;
    font-weight: 700;
    letter-spacing: 5px;
    word-spacing: 10px;
}

.main-subtitle {
    margin: 12px 0 60px 0;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 0px;
}

.btn {
    padding: 18px 24px 18px 24px;
    font-size: 14px;
    background-color: #949b9b;
    color: #ffffff;
    border-radius: 30px 50% 25px;
}

.btn:hover {
    background-color: darken(#7c7a85, 3%);
    color: #474550;
    border-radius: 60% 40px;
}

.section-title {
    position: relative;
    margin: 0 0 60px 0;
    text-align: center;
}

.stone {
    background-color: #949b9b;
    color: #ffffff;
    border: 2px solid #949b9b;
    letter-spacing: 2px;
    padding: 10px;
}
.sLeft {
    border-radius: 35px 50% 25px;
}
.sRight {
    border-radius: 25px 50% 35px;
}
.sCenter {
    border-radius: 40px 85% 28px 19px;
}

.slide > img {
    height: 60vh;
    border: 3px solid #fff;
}

.about {
    background-color: #eff5f5;
}

.about p {
    margin: 0 10%;
}

 .features-wrapper {
    display: flex;
}

 .feature {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    text-align: center;
    margin: 24px 0 0 0;
}

.feature-description {
    margin: 15%;
    text-align: justify;
    line-height: 1.3;
}

.feature i {
    width: 100px;
    height: 100px;
    line-height: 110px;
    color: #ffffff;
    font-size: 60px;
    background-color: #949b9b;
    border-radius: 50% 50% 0 0;
    margin: 20px 0;
}

.feature i:hover {
    background-color: darken(#7c7a85, 3%);
    color: #474550;
}

.statement p, .statement strong {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffe6;
    letter-spacing: 2px;
}

.boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#location {
    background-color: #eff5f5;
}

#location strong {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #474550;
    letter-spacing: 2px;
}
  
.box {
    text-align: center;
    color: #474550;
    font-size: 2.5vw;
    padding: 10px;
    width: 50%;
}

iframe {
    width: 100%;
}

h6 {
    margin: 0;
    padding: 0;
}

.space {
    margin-top: 20px;
}

.footer-section {
    background-color: #fff;
}

.footer-text {
    font-size: 13px;
}

/* ------------------FORMULARZ------------------------ */
input:focus-visible, 
textarea:focus-visible {
    outline: 3px solid #474550;
}
.formField {
    font: inherit; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
    margin: 3px 0 10px 0; 
    padding: 3px 0
}
textarea.formField {
    width: 300px; 
    height: 70px
}
#sendBtn {
    cursor: pointer;
    background: linear-gradient(#5e5c5c 0, #c8c4c4 100%);
    border: 1px solid #ccc;
    line-height: 32px;
    font-size: 14px;
    padding: 0 25px;
    border-radius: 3px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.2em;
}
#sendBtn:hover {
    color: #474550;
    background: linear-gradient(#888585 0, #ece9e9 100%);
}
#send_form_status {
    border: 1px dashed #ccc;
    display: none; 
    padding: 0 10px; 
    margin: 10px 0;
}
#send_form_status p {
    font-size: 15px;
}
.status_ok {
    color: #060;
}
.status_err {
    color: #F00;
}
.from-title {
    font-size: 30px;
    padding-bottom: 20px;
}
label {
    text-shadow: #c1c1c1 2px 2px;
    font-size: 20px;
    font-weight: 700;
}
/* ------------------FORMULARZ------------------------ */

/* ------------------VIDEO---------------------------- */
.video {
    margin-top: 20px;
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
.blockFilm {
    flex: 0 0 50%;
    max-width: 50%;
}
video {
    height: 400px;
    margin-left: -4px;
    margin-right: -4px;
}
.video img {
    height: 400px;
}
/* ------------------VIDEO---------------------------- */

/* ------------------GOOGLE-MAPS---------------------- */
iframe div.place-card.place-card-large {
    display: none !important;
}
/* ------------------GOOGLE-MAPS---------------------- */



/* ------------------RESPONZYWNOŚĆ-------------------- */

@media (max-width: 980px) {
    .video img {
        height: 300px;
    }
    video {
        height: 300px;
    }
    iframe {
        height: 200px;
    }
    .main-title {
        font-size: 35px;
    }
    .page-intro {
        width: 250px;
        margin-right: 6vw;
    }
    .slide > img {
        height: 55vh;
    }
}

@media (max-width: 750px) {
    .features-wrapper {
        display: block;
    }
    .feature {
        flex: 0 0 100%;
        max-width:100%;
        margin-bottom: 20px;
    }
    .video img,
    video {
        height: 200px;
    }
    .statement p, 
    .statement strong, 
    #location strong {
        font-size: 2.0rem;
    }
    .container {
        max-width: 90%;
    }
    .box {
        font-size: 3.5vw;
    }
    .space {
        margin-top: 10px;
    }
    .main-title {
        font-size: 30px;
    }
    .page-intro {
        margin-left: 25px;
        margin-right: 2vw;
    }
    .slide > img {
        height: 52vh;
    }
    #slider {
        margin-left: 7vh;
    }
    .from-title {
        font-size: 20px;
        padding-bottom: 10px;
    }
    label {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .video {
        display: block;
    }
    .blockFilm {
        flex: 0 0 100%;
        max-width:100%;
        margin-bottom: 20px;
    }
    .splash {
        flex-direction: column;
    }
    #slider {
        margin: 45px auto;
        margin-top: 70px;
    }
    .page-intro {
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
        margin-top: 0px;
    }
    .slide > img {
        height: 40vh;
    }
    .splash > div {
        margin-top: 4vh;
    }
    .formField {
        padding: 0;
        width: 80%;
    }
    textarea.formField {
        width: 90%;
    }

}

@media (max-width: 400px) {
    .statement p, 
    .statement strong, 
    #location strong {
        font-size: 1.2rem;
    }
    .feature-title,
    .section-title {
        font-size: 12px;
    }
    .feature-description,
    .about p {
        font-size: 10px;
    }
    .video img {
        height: 180px;
    }
    video {
        height: 180px;
    }
    #slider {
        margin: 75px auto;
    }
    .slide > img {
        height: 30vh;
    }
    .splash > div {
        margin-top: 2vh;
    }
    .page-intro {
        width: 166px;
    }
    .main-title {
        font-size: 20px;
    }
    .main-subtitle {
        font-size: 15px;
    }
}

@media (orientation: portrait) {
    .bg1 {
        background-image: url('../img/apartament/foto2.jpg');
    }
    .bg2 {
        background-image: url('../img/apartament/foto5.jpg');
    }
    .bg3 {
        background-image: url('../img/apartament/foto3.jpg');
    }
    .bg4 {
        background-image: url('../img/apartament/foto1.jpg');
    }
    .bg5 {
        background-image: url('../img/apartament/foto7.jpg');
    }
}

@media (max-height: 350px) {
    .splash > div {
        margin-top: 12vh;
    }
    .main-title {
        font-size: 25px;
    }
    .main-subtitle {
        font-size: 20px;
        margin: 12px 0 30px 0;
    }
    .btn {
        padding: 10px 16px 10px 16px;
        font-size: 10px;
    }
    .video {
        display: flex;
        max-width: 60%;
    }
    .blockFilm {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .video img {
        height: 180px;
    }
    video {
        height: 180px;
    }
}