@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    box-shadow: none;
}

body, html {
    font-family: 'Roboto', sans-serif;
    color: #474550;
    line-height: 1.6;
    margin: 0;
    height: 100%;
}

a, a:hover {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #4056d4;
    letter-spacing: 2px;
    font-weight: 700;
}

/* img {
    max-width: 100%;
    height: auto;
} */

section {
    padding: 60px 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.splash {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    /* flex-direction: column; */
    padding: 0 30px;
    background-image: url('../img/background/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    /* color: #fff; */
}

.splash>div {
    /* width: 50%; */
    /* margin: 0 auto; */
    text-align: center;
    margin-top: 22vh;
}

/* .flex-intro {
    flex: 0 0 400px;
    margin-left: 20px;
} */

.page-intro {
    flex: 0 0 400px;
    margin-left: 20px;
    margin-right: 8vw;
    margin-top: 20vh;
    text-align: center;
    align-items: baseline;
}

.main-title {
    /* color: #474550; */
    font-size: 50px;
    margin: 0;
    font-weight: 700;
    letter-spacing: 5px;
    word-spacing: 10px;
}

.main-subtitle {
    margin: 12px 0 60px 0;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 0px;
}

.btn {
    padding: 18px 24px 18px 24px;
    font-size: 14px;
    background-color: #949b9b;
    color: #ffffff;
    border-radius: 30px 50% 25px;
    /* box-shadow: 2px 4px 10px 4px black; */
}

.btn:hover {
    background-color: darken(#7c7a85, 3%);
    color: #474550;
    border-radius: 60% 40px;
}

.section-title {
    position: relative;
    margin: 0 0 60px 0;
    text-align: center;
}

.stone {
    background-color: #949b9b;
    color: #ffffff;
    border: 2px solid #949b9b;
    letter-spacing: 2px;
    padding: 10px;
}

.sLeft {
    /* padding: 15px; */
    border-radius: 35px 50% 25px;
}

.sRight {
    /* padding: 15px; */
    border-radius: 25px 50% 35px;
}

.sCenter {
    /* padding: 10px; */
    /* border-radius: 30px 60% 25px 15px; */
    border-radius: 40px 85% 28px 19px;
}

.slide>img {
    height: 60vh;
}

.about {
    background-color: #eff5f5;
    /* margin: 30px 0 0 0; */
}

 .about p {
    margin: 0 10%;
}

 .features-wrapper {
    display: flex;
}

 .feature {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    text-align: center;
    margin: 24px 0 0 0;
}

.feature-description {
    margin: 15%;
    text-align: justify;
    line-height: 1.3;
}

.feature i {
    width: 100px;
    height: 100px;
    line-height: 110px;
    color: #ffffff;
    font-size: 60px;
    background-color: #949b9b;
    border-radius: 50% 50% 0 0;
    margin: 20px 0;
}

.feature i:hover {
    background-color: darken(#7c7a85, 3%);
    color: #474550;
}

.statement {
    background-image: url("../img/background/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* margin-bottom: 20px; */
}

.statement p, .statement strong {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffe6;
    letter-spacing: 2px;
}

/* .boxes { */
    /* background-color: #eff5f5; */
    /* background-color: #11203E; */
    /* padding: 80px 0; */
/* } */
  
.boxes {
    /* background-color: #eff5f5; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#location strong {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #474550;
    letter-spacing: 2px;
}
  
.box {
    text-align: center;
    color: #474550;
    /* color: honeydew; */
    /* margin: 0 auto; */
    font-size: 2.5vw;
    padding: 10px;
    width: 50%;
}

iframe {
    width: 100%;
}

h6 {
    margin: 0;
    padding: 0;
}

.space {
    margin-top: 20px;
}

/* ------------------FORMULARZ------------------------ */

.formField {
    font: inherit; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
    margin: 3px 0 10px 0; 
    padding: 3px 0
}
textarea.formField {
    width: 300px; 
    height: 70px
}
#sendBtn {
    cursor:pointer;
    background: #ccc; 
    background: linear-gradient(#ddd 0, #eee 100%); 
    border: 1px solid #ccc; line-height: 32px; 
    font-size: 14px;
    padding: 0 25px; 
    border-radius: 3px;
}
#send_form_status {
    border: 1px dashed #ccc;
    display: none; 
    padding: 0 10px; 
    margin: 10px 0;
}
#send_form_status p {
    font-size: 15px;
}
.status_ok {
    color: #060;
}
.status_err {
    color: #F00;
}

/* ------------------FORMULARZ------------------------ */




/* ------------------------------------------------ */
/* ------------------------------------------------ */

.video {
    margin-top: 20px;
    /* height: 400px; */
    display: flex;

    max-width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

.blockFilm {
    flex: 0 0 50%;
/* display: block; */
    max-width: 50%;
    /* display: flex; */
}

video {
    height: 400px;
    margin-left: -4px;
    margin-right: -4px;
    /* width: 10vw; */
    /* width: 40%; */
}

/* video:focus {
    outline-width: 1px;
    outline-style: dotted;
} */

.video img {
    height: 400px;
}

/* ---------------------------------------------GOOGLE----------------------------------------------- */

iframe div.place-card.place-card-large {
    display: none !important;
}
/* ---------------------------------------------GOOGLE----------------------------------------------- */


@media (max-width: 980px) {
    .video {
        display: block;
        /* height: 200px; */
    }
    
    .blockFilm {
        flex: 0 0 100%;
        max-width:100%;
        margin-bottom: 20px;
    }
    .video img {
        height: 500px;
    }
    video {
        height: 500px;
    }
    iframe {
        height: 200px;
    }
    .main-title {
        font-size: 35px;
    }
    .page-intro {
        flex: 0 0 300px;
        margin-right: 6vw;
    }
    .slide > img {
        height: 55vh;
    }

}

@media (max-width: 790px) {
    .features-wrapper {
        display: block;
    }
    .feature {
        flex: 0 0 100%;
        max-width:100%;
        margin-bottom: 20px;
    }
    .video img,
    video {
        height: 300px;
    }
    .statement p, 
    .statement strong, 
    #location strong {
        font-size: 2.0rem;
    }
    .container {
        max-width: 90%;
    }
    .box {
        font-size: 3.5vw;
    }
    .space {
        margin-top: 10px;
    }
    .main-title {
        font-size: 30px;
    }
    .page-intro {
        flex: 0 0 250px;
        margin-left: 25px;
        margin-right: 2vw;
    }
    .slide > img {
        height: 52vh;
    }
    #slider {
        margin-left: 7vh;
    }
}

@media (max-width: 400px) {
    .video img {
        height: 200px;
    }
    video {
        height: 200px;
    }
    .splash {
        flex-direction: column;
    }
    #slider {
        margin: 45px auto;
    }
    .page-intro {
        margin-left: 0;
        margin-right: 0;
        width: 80%;
        margin: 0 auto;
        margin-top: 0px;
    }
    .slide > img {
        height: 42vh;
    }
    .splash > div {
        margin-top: 8vh;
    }

}
